html,
body {
  height: 100%;
  margin: 0;
}

.info {
  position: absolute;
  font-size: 15pt; 
  top: 0px;
  z-index: 1;
}

#canvas {
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -960px;
  /* canvas の width/2 */
  margin-top: -540px;
  /* canvas の height/2 */
  z-index: 0;
}